<div class="container">
    <p>New User Form</p>

    <form #userForm="ngForm" (ngSubmit) = "submit(userForm)">
        <div class="form-group">
            <label for="name">Name</label>
            <input required type="text" name="name" class="form-control" ngModel #name="ngModel">
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <p *ngIf="name.errors?.['required']">
                    Name is required
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" ngModel>
        </div>

        <div class="form-group">
            <label for="email">E-mail</label>
            <input type="text" name="email" class="form-control" ngModel>
        </div>

        <div class="form-group">
            <label for="phone">Phone</label>
            <input type="text" name="phone" class="form-control" ngModel>
        </div>

        <div class="form-group">
            <label for="website">Website</label>
            <input type="text" name="website" class="form-control" ngModel>
        </div>

        <hr>

        <pre>

        </pre>
        <hr>

        <button class="btn-primary">Submit</button>

    </form>
</div>
