<div style="padding: 5% 0 5% 0;">

  <div style="display: flex; justify-content: space-between; margin-bottom: 3%;">
    <h2>Product Form</h2>
    <!-- product-list.component.html -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Add Product
  </button>
  
  </div>
  <app-product-modal></app-product-modal>


  <table style="text-align: center;" class="custom-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Date</th>
        <th>Functions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.productName }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.date }}</td>

        <td>
          <button type="button" style="margin-right: 3%;" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="btn btn-outline-danger" (click)="deleteProduct(product.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>

</div>